<div class="page_title">
  <h1>Edit person</h1>
</div>

<%= render 'form' %>

<%= link_to '[cancel edit]', @person, :class => :action %> |
<%= link_to '[go back to people list]', people_path, :class => :action %>
