<% provide(:title, 'Listing task types') %>
<%= link_to '[create new task type]', new_task_type_path, :class => :action %>

<table class="index_table">
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <% if logged_in_super_admin? %>
      <th></th>
    <% end %>
  </tr>

<% TaskType.order(:description).all.each do |task_type| %>
  <tr>
    <td><%= link_to task_type.description, task_type %></td>
    <td><%= link_to '[edit]', edit_task_type_path(task_type), :class => :action %></td>
    <% if logged_in_super_admin? %>
      <td><%= link_to '[destroy]', task_type, confirm: 'This will obliterate this record from the database...are you sure?', :method => :delete, :class => :action %></td>
    <% end %>
  </tr>
<% end %>
</table>
