<p>
  <b>Description:</b>
  <%= @task_type.description %>
</p>


<%= link_to '[edit this task type]', edit_task_type_path(@task_type), :class => :action %> |
<%= link_to '[go back to task type list]', task_types_path, :class => :action %>
