<div class="page_title">
  <h1>Edit task</h1>
</div>

<%= render 'form' %>

<%= link_to '[cancel edit]', @task, :class => :action %> |
<%= link_to '[go back to task list]', tasks_path, :class => :action %>
