<div class="page_title">
  <h1>Edit user</h1>
</div>

<%= render 'form' %>

<%= link_to '[cancel edit]', @user, :class => :action %> |
<%= link_to '[go back to user list]', users_path, :class => :action %>
