<div class="page_title">
  <h1>Home</h1>
</div>

<div class="grouping_box">
  <h2>Things I need to do today</h2>
  <% tasks = current_user.tasks %>
  <% if !tasks.empty? %>
    <ul>
      <% tasks.each do |t| %>
        <li><%= link_to task_title(t), t %></li>
      <% end %>
    </ul>
  <% end %>
</div>
