<% provide(:title, "Welcome, #{current_user.name}") %>

<div class="grouping_box">
  <h2>Things I need to do today</h2>
  <% tasks = current_user.in_progress_tasks %>
  <% if !tasks.empty? %>
    <ul>
      <% tasks.each do |t| %>
        <li>
          <%= link_to task_title(t), t %>
          <% if !t.sub_tasks.empty? %>
            <ul>
              <% t.sub_tasks.each do |st| %>
                <li><%= st.sub_task_type.description %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% Message.order(:sort_order).all.each do |m| %>
  <div class="grouping_box">
    <h2><%= m.title %></h2>
    <div><%= format_plain_text m.content %></div>
  </div>
<% end %>
