<div class="page_title">
  <h1>Home</h1>
</div>

<div class="grouping_box">
  <h2>Things I need to do today</h2>
  <% tasks = current_user.tasks %>
  <% if !tasks.empty? %>
    <ul>
      <% tasks.each do |t| %>
        <li><%= link_to task_title(t), t %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="grouping_box">
  <h2>Useful links</h2>

  <ul>
    <li><a href="http://bit.ly/mhcdtsflow">MHDT connection flow chart</a></li>
    <li><a href="http://marshill.com/leadership#members">Process for becoming a member</a></li>
    <li><a href="http://marshill.com/downtownseattle">MHDT homepage</a></li>
    <li><a href="https://www.facebook.com/DowntownSeattleChurch">MHDT Facebook page</a></li>
    <li><a href="https://www.facebook.com/DowntownSeattleChurch/events">Upcoming events</a></li>
    <li><a href="https://www.facebook.com/MHDTMercyAndJustice">Mercy &amp; Justice ministry page</a></li>
  </ul>
</div>
