<div class="page_title">
  <h1>Connect app to-do list</h1>
</div>

<style>
  .unfixed { color: #AA0000; }
  .fixed { color: #00AA00; text-decoration: line-through; }
</style>

<p>Legend: <span class="fixed">things that have been fixed</span> vs. <span class="unfixed">things that are not fixed yet</li></p>

<h2>General site usability</h2>
<ul>
  <li class="unfixed">Add a site "feedback" link -&gt; email to Ryan</li>
  <li class="unfixed">Be able to view <b>all</b> notes for a person in one view</li>
  <li class="unfixed">Don't complain when entering a person with no address</li>
  <li class="unfixed">Make finished tasks prominently indicate "finished"</li>
  <li class="unfixed">Add password change and "forgot password" pages</li>
  <li class="unfixed">Don't require password change in order to update other "user" fields</li>
  <li class="unfixed">Add person's phone/email/address to "task" page</li>
  <li class="unfixed">Allow converting a person into a user from the person's page</li>
  <li class="unfixed">Make groups sort alphabetically in lists</li>
  <li class="unfixed">Allow groups to be viewed clustered by-neighborhood</li>
  <li class="unfixed">Add "search" functionality for users, people, and groups</li>
  <li class="unfixed">Make links like "add to group" be less obtrusive</li>
  <li class="unfixed">Allow tasks to be viewed and clustered by "start" date</li>
  <li class="unfixed">Add "task start" and "most recent contact" to admin view of in-progress tasks</li>
  <li class="fixed">Fix the formatting of the "show group" page so that the description/restrictions fields don't run off the page</li>

  <li class="fixed">Add "useful links" (flowchart, facebook, etc.) to home page</li>
  <li class="fixed">Add phone/email to the group membership roster on the "show group" page</li>
  <li class="fixed">Make notes sort newest-first</li>
  <li class="fixed">Make the timestamp on a note display the time in the current timezone, not GMT</li>
  <li class="fixed">Remove the "destroy" links for groups/people/users. These things should be deactivated, not destroyed. (Note that the "destroy" links will still appear if logged in as the account named "admin", but not for any other accounts, including other administrative accounts. I've disabled the "admin" account so no one can log in as it...people should log in as themselves.)</li>
  <li class="fixed">Make people/users sort alphabetically in lists</li>
</ul>


<h2>Information about groups</h2>
<ul>
  <li class="unfixed">Allow a group to have separate "leader", "host" and "contact" people</li>
  <li class="unfixed">Add a "neighborhood" field to the group</li>
</ul>


<h2>Information about people</h2>
<ul>
  <li class="unfixed">Add an "is a member?" checkbox</li>
  <li class="unfixed">Make "remove from group" and "add to group" record a note</li>
  <li class="unfixed">When recording a note, add the ability to indicate whether a contact attempt was made, and add "last contacted" info to the task</li>
</ul>


<h2>Task tracking</h2>
<ul>
  <li class="unfixed">Add a "sent City invite?" checkbox</li>
  <li class="unfixed">Add "service team agreement signed?" info (incl. covenant end date)</li>
</ul>

<!--
tasks need subtasks that can be completed in various orders
-->
