/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

h1 { font-size: x-large; }
h2 { font-size: larger; }

div.page_title {
    margin-bottom: 1.5em;
}


div.page_title h1 {
    display: inline;
    margin-right: 0.5em;
}


header.navbar {
    float: right;
    border: 1px solid black;
    background-color: #CCDDFF;
    padding: 0em;
    margin: 0.5em;
}


header.navbar div {
    padding: 0.25em 1em 0.25em 1em;
}


header.navbar div.admin {
    background-color: #FFDDDD;
}


.grouping_box {
    border: 1px dotted #4B7399;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em;
}


table.index_table {
    border-collapse: collapse;
}


table.index_table th {
    border-bottom: 1px solid black;
    text-align: left;
}


table.index_table td, table.index_table th {
    padding: 0.25em 0.5em 0.25em 0.5em;
}


table.index_table tr:nth-child(odd) td {
    background-color: #EEEEFF;
}


table.index_table tr:nth-child(even) td {
    background-color: #FFFFDD;
}


a:link    { color: #0077AA; }
a:visited { color: #0077AA; }
a:hover   { color: #00AACC; }
a:active  { color: #00AACC; }
a.action { text-decoration: none; }
a:link.action    { color: #00AA77; }
a:visited.action { color: #00AA77; }
a:hover.action   { color: #00CCAA; text-decoration: underline; }
a:active.action  { color: #00CCAA; }
