/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

header.navbar {
    float: right;
    border: 1px solid black;
    background-color: #CCDDFF;
    padding: 0em;
    margin: 0.5em;
}


header.navbar div {
    padding: 0.25em 1em 0.25em 1em;
}


header.navbar div.admin {
    background-color: #FFDDDD;
}


.grouping_box {
    border: 1px solid #4B7399;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em;
}
